* {
  margin: 0;
  padding: 0;
}

body {
  width: 800px;
  height: 400px;
}

#heading {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  color: #fff;
  padding: 20px 10px 20px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-shadow: #111 0 0 10px;
}

#loginContainer {
  position: absolute;
  width: 300px;
  height: 230px;
  z-index: 15;
  top: 50%;
  left: 30%;
  margin: -100px 0 0 -150px;
  border: 1px #212121 solid;
}

#otherContainer {
  position: absolute;
  width: 300px;
  height: 230px;
  z-index: 15;
  top: 50%;
  left: 70%;
  margin: -100px 0 0 -150px;
  border: 1px #212121 solid;
}

#loginHeader, #otherHeader {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  color: #fff;
  margin: 0;
  padding: 25px 10px 10px 10px;
}

#otherBody {
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
}

#iconSelect {
  margin-top: 5px;
}

#status {
  margin-top: 20px;
}

#btnLogin {
  margin: 5px;
  width: 137px;
  height: 30px;
  color: #FFFDFD;
  background-color: #4CC27B;
  border: 2px solid #44AF6F;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#btnLogin:hover {
  background-color: #4CC27B;
  border: 2px solid #358856;
}

#btnReset {
  margin: 5px;
  width: 137px;
  height: 30px;
  color: #FFFDFD;
  background-color: #C24C4C;
  border: 2px solid #AF4444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#btnReset:hover {
  background-color: #C24C4C;
  border: 2px solid #742E2E;
}

#lblIconSelect, #lblBatchSelect {
  margin-left: 0;
}

#iconSelect, #batchColorSelect {
  width: 150px;
}

#footing {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  color: #fff;
  background: #212121;
  position: fixed !important;
  bottom:0;
  left:0;
  right:0;
  padding: 10px;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

input {
  width: 285px;
  margin: 5px;
}

hr, label {
  margin-left: 5px;
  margin-right: 5px;
}
