body {
  width: 300px;
  min-height: 90px;
  height: 90px;
  max-height: 350px;
  margin: 2px;
  padding: 2px;
}

#imgSettings {
 position: absolute !important;
 top: 5px;
 right: 10px;
}

#imgSettings:hover {
  background-color: #eee;
  border: 2px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#mainContainer {
  background-color: #fff;
  margin-top: 25px;
}

#buttonTabContainer {
  padding: 4px;
}

#listContainer {
  margin: 5px;
  padding: 6px;
  background-color: #eee;
}

#buttonOptContainer {
  padding: 4px;
}

.custom-btn-style {
  margin-bottom: 3px;
  width: 144px;
  height: 30px;
  color: #FFFDFD;
  background-color: #4583D1;
  border: 2px solid #4073CE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.custom-btn-style:hover {
  background-color: #4583D1;
  border: 2px solid #174CAA;
}

#btnClear {
  margin-bottom: 3px;
  width: 144px;
  height: 30px;
  color: #FFFDFD;
  background-color: #C24C4C;
  border: 2px solid #AF4444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#btnClear:hover {
  background-color: #C24C4C;
  border: 2px solid #742E2E;
}

#btnSave {
  margin-bottom: 3px;
  width: 144px;
  height: 30px;
  color: #FFFDFD;
  background-color: #4CC27B;
  border: 2px solid #44AF6F;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#btnSave:hover {
  background-color: #4CC27B;
  border: 2px solid #358856;
}

ul {
  margin: 0 0 0 5px;
  padding: 0 0 0 3px;
  min-height: 20px;
  max-height: 300px;
  overflow: auto;
}

ul li {
  margin: 0 0 0 10px;
  padding: 0 0 0 5px;
  text-indent: -1em;
  word-wrap: break-word;
}
